ptpengine:interface = eth0
ptpengine:backup_interface = eth0
ptpengine:preset = slaveonly

ptpengine:transport = ipv4
ptpengine:dot2as = N
ptpengine:ip_mode = multicast
ptpengine:unicast_negotiation = N
ptpengine:disable_bmca = N
ptpengine:unicast_negotiation_listening = N
ptpengine:use_libpcap = N

;; ptpengine:delay_mechanism = E2E
ptpengine:delay_mechanism = P2P

ptpengine:domain = 0
ptpengine:port_number = 1
ptpengine:any_domain = N

;; ptpengine:slave_only = Y
ptpengine:slave_only = Y

ptpengine:inbound_latency = 0
ptpengine:outbound_latency = 0
ptpengine:offset_shift = 0
ptpengine:always_respect_utc_offset = N
ptpengine:prefer_utc_offset_valid = N
ptpengine:require_utc_offset_valid = N

;; ptpengine:unicast_grant_duration = 300
ptpengine:unicast_grant_duration = 30

;; ptpengine:log_announce_interval = 1
ptpengine:log_announce_interval = -1

;; ptpengine:log_announce_interval_max = 5
ptpengine:log_announce_interval_max = 1

ptpengine:announce_receipt_timeout = 6
ptpengine:announce_receipt_grace_period = 0
ptpengine:log_sync_interval = 0
ptpengine:log_sync_interval_max = 5
ptpengine:log_delayreq_override = N
ptpengine:log_delayreq_auto = Y
ptpengine:log_delayreq_interval_initial = 0
ptpengine:log_delayreq_interval = 0
ptpengine:log_delayreq_interval_max = 5
ptpengine:log_peer_delayreq_interval = 1
ptpengine:log_peer_delayreq_interval_max = 5
ptpengine:foreignrecord_capacity = 5
ptpengine:ptp_allan_variance = 65535
ptpengine:ptp_clock_accuracy = ACC_UNKNOWN
ptpengine:utc_offset = 0
ptpengine:utc_offset_valid = N
ptpengine:time_traceable = N
ptpengine:frequency_traceable = N
ptpengine:ptp_timescale = PTP

;; Options: ATOMIC_CLOCK GPS TERRESTRIAL_RADIO PTP NTP HAND_SET OTHER INTERNAL_OSCILLATOR 
ptpengine:ptp_timesource = INTERNAL_OSCILLATOR

; Clock class - announced in master state. Always 255 for slave-only.
; Minimum, maximum and default values are controlled by presets.
; If set to 13 (application specific time source), announced 
; time scale is always set to ARB. This setting controls the
; states a PTP port can be in. If below 128, port will only
; be in MASTER or PASSIVE states (master only). If above 127,
; port will be in MASTER or SLAVE states.
ptpengine:clock_class = 255

; Priority announced in master state, used for Best Master Clock selection.
ptpengine:priority1 = 128
ptpengine:priority2 = 128

ptpengine:max_listen = 5
ptpengine:unicast_destinations = 
ptpengine:unicast_domains = 
ptpengine:unicast_local_preference = 
ptpengine:unicast_peer_destination = 

; Enable handling of PTP management messages.
ptpengine:management_enable = Y
; Accept SET and COMMAND management messages.
ptpengine:management_set_enable = N

ptpengine:igmp_refresh = Y
ptpengine:master_igmp_refresh_interval = 60

; Multicast time to live for multicast PTP packets (ignored and set to 1 for peer to peer messages).
;; ptpengine:multicast_ttl = 64
ptpengine:multicast_ttl = 1

ptpengine:ip_dscp = 0
ptpengine:sync_stat_filter_enable = N
ptpengine:sync_stat_filter_type = min
ptpengine:sync_stat_filter_window = 4
ptpengine:sync_stat_filter_window_type = sliding
ptpengine:delay_stat_filter_enable = N
ptpengine:delay_stat_filter_type = min
ptpengine:delay_stat_filter_window = 4
ptpengine:delay_stat_filter_window_type = sliding
ptpengine:delay_outlier_filter_enable = N
ptpengine:delay_outlier_filter_action = discard
ptpengine:delay_outlier_filter_capacity = 20
ptpengine:delay_outlier_filter_threshold = 1.000000
ptpengine:delay_outlier_filter_always_filter = N
ptpengine:delay_outlier_filter_autotune_enable = Y
ptpengine:delay_outlier_filter_autotune_minpercent = 20
ptpengine:delay_outlier_filter_autotune_maxpercent = 95
ptpengine:delay_outlier_autotune_step = 0.100000
ptpengine:delay_outlier_filter_autotune_minthreshold = 0.100000
ptpengine:delay_outlier_filter_autotune_maxthreshold = 5.000000
ptpengine:delay_outlier_filter_stepdetect_enable = N
ptpengine:delay_outlier_filter_stepdetect_threshold = 1000000
ptpengine:delay_outlier_filter_stepdetect_level = 500000
ptpengine:delay_outlier_filter_stepdetect_credit = 200
ptpengine:delay_outlier_filter_stepdetect_credit_increment = 10
ptpengine:delay_outlier_weight = 1.000000
ptpengine:sync_outlier_filter_enable = N
ptpengine:sync_outlier_filter_action = discard
ptpengine:sync_outlier_filter_capacity = 20
ptpengine:sync_outlier_filter_threshold = 1.000000
ptpengine:sync_outlier_filter_always_filter = N
ptpengine:sync_outlier_filter_autotune_enable = Y
ptpengine:sync_outlier_filter_autotune_minpercent = 20
ptpengine:sync_outlier_filter_autotune_maxpercent = 95
ptpengine:sync_outlier_autotune_step = 0.100000
ptpengine:sync_outlier_filter_autotune_minthreshold = 0.100000
ptpengine:sync_outlier_filter_autotune_maxthreshold = 5.000000
ptpengine:sync_outlier_filter_stepdetect_enable = N
ptpengine:sync_outlier_filter_stepdetect_threshold = 1000000
ptpengine:sync_outlier_filter_stepdetect_level = 500000
ptpengine:sync_outlier_filter_stepdetect_credit = 200
ptpengine:sync_outlier_filter_stepdetect_credit_increment = 10
ptpengine:sync_outlier_weight = 1.000000
ptpengine:calibration_delay = 0
ptpengine:idle_timeout = 120
ptpengine:panic_mode = N
ptpengine:panic_mode_duration = 2
ptpengine:panic_mode_release_clock = N
ptpengine:panic_mode_exit_threshold = 0
ptpengine:pid_as_clock_identity = N
ptpengine:ntp_failover = N
ptpengine:ntp_failover_timeout = 120
ptpengine:prefer_ntp = N
ptpengine:panic_mode_ntp = N
ptpengine:sigusr2_clears_counters = N
ptpengine:timing_acl_permit = 
ptpengine:timing_acl_deny = 
ptpengine:management_acl_permit = 
ptpengine:management_acl_deny = 
ptpengine:timing_acl_order = deny-permit
ptpengine:management_acl_order = deny-permit

clock:no_adjust = N
clock:no_reset = N
clock:step_startup_force = N
clock:step_startup = N
clock:set_rtc_on_step = N

clock:drift_handling = preserve
clock:drift_file = /etc/ptpd2_kernelclock.drift
clock:leap_second_pause_period = 5
clock:leap_second_notice_period = 43200
clock:leap_seconds_file = 
clock:leap_second_handling = accept
clock:leap_second_smear_period = 86400
clock:max_offset_ppm = 500
servo:delayfilter_stiffness = 6
servo:kp = 0.100000
servo:ki = 0.001000
servo:dt_method = constant
servo:dt_max = 5.000000
servo:stability_detection = N
servo:stability_threshold = 10.000000
servo:stability_period = 1
servo:stability_timeout = 10
servo:max_delay = 0
servo:max_delay_max_rejected = 0
servo:max_delay_stable_only = N
ptpengine:sync_sequence_checking = N
ptpengine:clock_update_timeout = 0
servo:max_offset = 0
global:use_syslog = N

global:lock_file = 
global:auto_lockfile = N
global:lock_directory = /var/run
global:ignore_lock = N

; File used to record data about sync packets. Enables recording when set.
global:quality_file = ~/Desktop/ptp.quality
global:quality_file_max_size = 0
global:quality_file_max_files = 0
global:quality_file_truncate = N

; File used to log ptpd2 status information.
global:status_file = ~/Desktop/ptp.status
global:log_status = Y
global:status_update_interval = 1

; Specify log file path (event log). Setting this enables logging to file.
global:log_file = ~/Desktop/ptp.log
global:log_file_max_size = 0
global:log_file_max_files = 0
global:log_file_truncate = N
global:log_level = LOG_ALL

; Specify statistics log file path. Setting this enables logging of 
global:statistics_file = ~/Desktop/ptp.statistics
global:statistics_log_interval = 0
global:statistics_file_max_size = 0
global:statistics_file_max_files = 0
global:statistics_file_truncate = N
global:dump_packets = N
global:log_statistics = Y
global:statistics_timestamp_format = datetime
;; global:statistics_update_interval = 30
global:statistics_update_interval = 5

; Run in foreground with statistics and all messages logged to stdout.
; Overrides log file and statistics file settings and disables syslog.
global:verbose_foreground = Y

; Run in foreground - ignored when global:verbose_foreground is set
global:foreground = N

; Log a status update every time statistics are updated (global:statistics_update_interval).
; The updates are logged even when ptpd is configured without statistics support
;; global:periodic_updates = N
global:periodic_updates = Y

global:cpuaffinity_cpucore = -1
global:timingdomain_election_delay = 15
ntpengine:enabled = N
ntpengine:control_enabled = N
ntpengine:check_interval = 15
ntpengine:key_id = 0
ntpengine:key = 

; ========= newline required in the end ==========

